

<body>

<div class="container margin-top-20">
	<div class="logo border-radius-10">
		Chirp! The Next Big Thang
	</div>
</div>

<div class="container margin-top-10">
	<div class="one-chirp border-radius-10">
		
		<%= form_tag do %>
			<div class="row">
				<div class="col-sm-1">
					<img src="/assets/birds/bird<%= @chirp.image %>.png" class="img-responsive" />
				</div>
				<div class="col-sm-11">
					<div class="margin-top-10">
						<textarea class="form-control" name="twit"><%= @chirp.twit %></textarea>
					</div>
					<div class="margin-top-10 txt-right">
						<button class="btn btn-danger" name="delete_button" type="submit">Delete Chirp</button>
						<button class="btn btn-primary" type="submit">Edit Chirp</button>
					</div>
				</div>
			</div>
		<% end %>

	</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="js/chirp.js"></script>
